<ul id="entity-menu">
  <li class="entity-title"><a href="<%= entities.home %>"><%= entities.title %></a></li>
  <% if(typeof user != 'undefined') { %>
    <li class="entity-add"><a href="#" class="entity-add-button">Add</a></li>
  <% } %>
</ul>
<div class="spacer"></div>
