<% include head %>
<% include top %>
<% include sidebar %>
			<header>
	      <h1><%= title %>
	        <% if (typeof subtitle != 'undefined') { %>
            <span><%= subtitle %></span>
          <% } %>
        </h1>
			</header> 
	<% if (user) { %>
    <div>Hi, <%= user.FirstName %>!</div>
  <% } else { %>
    <div>Welcome, please <a href="/auth/facebook/">login</a></div> 
  <% } %>
<% include bottom %>
