      <ul id="gn-menu" class="gn-menu-main">
				<li class="gn-trigger">
					<a class="gn-icon gn-icon-menu"><span>Menu</span></a>
					<nav class="gn-menu-wrapper">
						<div class="gn-scroller">
							<ul class="gn-menu">
								<li><a class="gn-icon gn-icon-illustrator" href="/">Home</a></li>
								<li>
									<a class="gn-icon gn-icon-download">My Secret Cave</a>
									<ul class="gn-submenu">
										<li><a class="gn-icon gn-icon-illustrator" href="badges.php">Badges</a></li>
										<li><a class="gn-icon gn-icon-photoshop">Photoshop files</a></li>
									</ul>
								</li>
								<li><a class="gn-icon gn-icon-cog">Hall of Fame</a></li>
                                <li><a class="gn-icon gn-icon-help" href="events.php">Events</a></li>
								<li><a class="gn-icon gn-icon-help" href="calendar.php">Calendar</a></li>
                                <li><a class="list_item">Help</a></li>
								<li>
									<a class="gn-icon gn-icon-archive">Archives</a>
									<ul class="gn-submenu">
										<li><a class="gn-icon gn-icon-article">Articles</a></li>
										<li><a class="gn-icon gn-icon-pictures">Images</a></li>
										<li><a class="gn-icon gn-icon-videos">Videos</a></li>
									</ul>
								</li>
							</ul>
						</div><!-- /gn-scroller -->
					</nav>
				</li>
				<li><a href="/">Planet Hero</a></li>
	      <% if (user) { %>
				  <li><a class="codrops-icon codrops-icon-drop" href="/account/"><span><%= user.FirstName %></span></a></li>
        <% } else { %>
				  <li><a class="codrops-icon codrops-icon-drop" href="/auth/facebook/"><span>Sign In</span></a></li>
        <% } %>
			</ul>
        <style> .list_item{margin-left:60px;}</style>
		<script>
			new gnMenu( document.getElementById( 'gn-menu' ) );
		</script>

