      <ul id="gn-menu" class="gn-menu-main">
				<li class="gn-trigger">
					<a class="gn-icon gn-icon-menu"><span>Menu</span></a>
					<nav class="gn-menu-wrapper">
						<div class="gn-scroller">
							<ul class="gn-menu">
								<li><a class="fa fa-home spaced-icon" href="/"><span>Home</span></a></li>
	              <% if (typeof user != 'undefined') { %>
								  <li><a href="/users/cave/" class="fa fa-key spaced-icon"><span>My Secret Cave</span></span></a></li>
									<li><a class="fa fa-trophy spaced-icon" href="badges.php"><span>Badges</span></a></li>
                <% } %>
								<li><a class="fa fa-user spaced-icon" href="/users/"><span>Heroes</span></a></li>
								<li><a class="fa fa-users spaced-icon" href="/teams/"><span>Hero Leagues</span></a></li>
								<li><a class="fa fa-ra spaced-icon"><span>Hall of Fame</span></a></li>
                <li><a class="fa fa-calendar spaced-icon" href="events.php"><span>Events</span></a></li>
	              <% if (typeof user != 'undefined') { %>
								  <li><a class="fa fa-circle-o-notch logout spaced-icon" href="/logout"><span>Logout</span></a></li>
                <% } %>
							</ul>
						</div><!-- /gn-scroller -->
					</nav>
				</li>
        <li><a href="/"><img src="/img/leaflogo.png" style="width:22px;vertical-align:middle;margin:-4px 5px 0 auto;">Planet Hero</a></li>
	      <% if (typeof user != 'undefined') { %>
				  <li><a class="user-button" href="/users/cave/"><img src="<%= user.Image %>" class="user-info-photo" /><span><%= user.FirstName %></span></a></li>
					<li><a class="fa fa-circle-o-notch logout" href="/logout"><span class="only-for-big">Logout</span></a></li>
        <% } else { %>
				  <li><a class="fa fa-facebook-square" href="/auth/facebook/"><span class="only-for-big">Facebook Login</span></a></li>
        <% } %>
			</ul>
        <style> .list_item{margin-left:60px;}</style>
		<script>
			new gnMenu( document.getElementById( 'gn-menu' ) );
		</script>

