<% include head %>
<% include top %>
<div>
<% if (team) { %>
  <div class="card-left">
		<dd class="card-name"><%= team.TeamName %></dd>
    <dd class="card-person"><a href="/users/<%= team.UserID %>"><%= team.FirstName %></a></dd>
  </div>
  <dl class="with-left-card">
		<dd class="card-description"><%= team.TeamDescription %></dd>
  </dl>
  <hr class="spacer" />
<% } else { %>
  <div class="message error">Team not found!</div>
<% } %>
</div>
<% include bottom %>
