<% include head %>
<% include top %>
<div>
<% if (team) { %>
  <dl>
    <dt class="card-name">Name</dt>
		<dd class="card-name"><%= team.TeamName %></dd>
    <dt class="card-person">Leader</dt>
    <dd class="card-person"><a href="/users/<%= team.UserID %>"><%= team.FirstName %></a></dd>
    <dt class="card-description">About</dt>
		<dd class="card-description"><%= team.TeamDescription %></dd>
  </dl>
<% } else { %>
  <div class="message error">Team not found!</div>
<% } %>
</div>
<% include bottom %>
