<% include head %>
<% include top %>
<div>
<% if (team) { %>
  <dl>
    <dt>Name</dt>
		<td><%= team.TeamName %></td>
    <dt>About</dt>
		<td><%= team.TeamDescription %></td>
    <dt>Leader</dt>
		<td><%= team.OwnerID %>-change to owner info</td>
  </dl>
<% } else { %>
  <div class="message error">Team not found!</div>
<% } %>
</div>
<% include bottom %>
