/* override bootstrap styles */
@import url('http://fonts.googleapis.com/css?family=Oswald:300,400:latin,latin-ext');

.navbar-form input, .form-inline input {
  width:auto;
}

body {
  padding-top:50px;
  color:#646464;
  background-color:#efefef;
  font-size: 2vw;
}

h1,h2,h3,.highlight,.navbar a,#masthead h4 {
  font-family:'Oswald',arial narrow,sans-serif;
}

footer {

  margin-top:40px;
  padding-top:40px;
  padding-bottom:40px;
  background-color:#cecece;
 
}

.container {
  padding:1em;
  background-color: #FFF;
  margin: -2em 2em 0em 2em;
}

.homepage .container {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.spacer {
  width: 100%;
  display: block;
  clear: both;
}

#entity-menu {
  min-height:199px;
  background-color:#000044;
  color:#aaaacc;
}

#entity-menu .entity-menu-item, #entity-menu .entity-menu-item a {
  font-size: 55px;
  line-height: 1;
  color:#fefeff;
  margin-top:50px;
}

#masthead .well {
  margin-top:31px;
  background-color:#111166;
  border-color:#000022;
  color:#efefff;
  min-height:127px;
}

#topPanel {
  padding-top:0px;
  padding-left:22px;
  padding-right:22px;
}
#topPanel .panel-body {
  padding-top:0px;
}

.navbar.affix {
  position:fixed;
  top:0;
  width:100%;
}

.top-spacer {
  background-color:#ffffff;
  height:40px;
}

a,a:hover {
  color:#223344;
  text-decoration:none;
}

.icon-bar {
  background-color:#fff;
}

@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 60px;
  }
  .entity-form form {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding-right:0.25em;
    padding-left:0.25em;
    margin: 0;
  }
  #entity-menu {
   padding: 0 1em;
  }
}

.navbar-bright {
  background-color:#111166;
  color:#fff;
  margin-bottom: 0;
  border-width: 0;
}

.navbar-bright a, .navbar-bright .navbar-brand, #masthead h4 {
  color:#ccccdd;
  font-size:14px;
  text-transform: uppercase;
  letter-spacing:.08em;
}

.navbar-bright li > a:hover {
  background-color:#000044;
}

.dropdown-menu {
  min-width: 250px;
}

.caret {
  color:#fff;
}

.navbar-toggle {
  color:#fff;
  border-width:0;
}

.navbar-toggle:hover {
  background-color:#fff;
}

.panel {
  border-color:transparent;
  border-radius:0;
}

.thumbnail {
  margin-bottom:8px;
}

.img-container {
  overflow:hidden;
  height:170px;
}

.img-container img {
  min-width:280px;
  min-height:180px;
  max-width:380px;
  max-height:280px;
}

.txt-container {
  overflow:hidden;
  height:100px;
}

.panel .lead {
  overflow:hidden;
  height:90px;
}

.label-float{
  margin:0 auto;
  position: absolute;
  top: 0;
  z-index: 1;
  width:100%;
  opacity:.9;
  padding:6px;
  color:#fff;
}
#main-top {
  width: 100%;
  background-size: 100% auto;
  background-image: url('/img/back.png');
  background-repeat: no-repeat;
  height: 30em;
}
#main-top h1, #main-top h2 {
  color: #EEE;
  text-align: center;
}
#main-top h1 {
  font-size: 250%;
}
#main-top h2 {
}
@media screen and (max-width: 1200px) {
  #main-top {
    background-image: url('/img/back_big.png');
  }
}
@media screen and (max-width: 800px) {
  body {
    font-size: 3vw;
  }
  #main-top {
    background-image: url('/img/back_medium.png');
    height: 20em;
  }
}
@media screen and (max-width: 600px) {
  body {
    font-size: 4vw;
  }
  #main-top {
    background-image: url('/img/back_small.png');
    height: 15em;
  }
}

.message {
  margin: 1em;
  padding: 0.5em 0;
  border: 2px solid #999;
  background-color: #FFF;
  border-radius: 0.25em;
  text-align: center;
  color: #555;
}
.message.info {
  color: #55AA55;
  border-color: #339933;
}
.message.warning {
  color: #99AA44;
  border-color: #779922;
}
.message.error {
  color: #AA5555;
  border-color: #993333;
}

#entity-menu {
  list-style: none;
  clear: both;
  display: block;
  padding: 0 2em;
}
#entity-menu .entity-menu-item {
  float: left;
}
#entity-menu .entity-title {
  font-size: 150%;
  font-weight: bold;
}
#entity-menu .entity-add a {
  text-indent: -9999px;
  background: url('/img/add_button.svg') no-repeat;
  background-size: 0.5em 0.5em;
  display: block;
  width: 1em;
  margin: 0.5em 0.25em 0 0.25em;
}
.entity-form {
  display: none;
}
.entity-form form {
  padding: 0.5em;
  border: 2px solid #999;
  background-color: #FFF;
  border-radius: 0.25em;
  text-align: center;
  color: #555;
  width: 100%;
}
.entity-form h3 {
  text-align: left;
}
.entity-form label {
  float: left;
  clear: left;
  margin-right: 1em;
  margin-top: 0.25em;
}
.entity-form label:after {
  content: ":";
}
.entity-form input {
  float: left;
  clear: right;
  margin-top: 0.25em;
}
.entity-form input[type="submit"] {
  float:left;
  clear: both;
  margin-top: 0.5em;
}
.entity-form textarea {
  float:left;
  clear: both;
  width: 100%;
}

dl {
  padding-bottom: 0.5em;
}
dt {
  display: none;
}
dd {
  font-family:courier,'new courier';
  color:#777;
}
div.card-photo, div.card-left {
  float: left;
  margin-right: 0.5em;
  padding-right: 0.5em;
  display: block;
  border-right: 1px solid #EEE;
}
div.card-left {
  min-width: 10em;
}
div.card-photo img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  box-shadow: 0 0 3px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .8);
}
.user-button img {
  width: 25px;
  height: 25px;
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  box-shadow: 0 0 2px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, .8);
  vertical-align: middle;
  margin-right: 0.5em;
}
dl.with-image, dl.with-left-card {
  margin-left: 20px;
  margin-top: 0;
}
dl.with-left-card {
  padding-top: 0.5em;
}
dl .card-name, div .card-name {
  font-family:'Oswald',arial narrow,sans-serif;
  font-size: 150%;
}
dl .card-description {
}
div dd.card-person {
  background-color:#777;
  float: left;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  margin-bottom: 1em;
}
div dd.card-person a {
  color: #fff;
}
dl dd.card-actions {
  font-size: 75%;
}

.fa {
  font-size: 150%;
}
.fa span {
  line-height: 60px;
  margin-left: 0.5em;
  font-size: 75%;
}
.fa.spaced-icon {
  padding-left: 0.5em;
}
.fa.spaced-icon span {
  margin-left: 1.5em
}
li a.logout {
  color: #AA5555;
}

.btn-twitter {background-color:#4099FF;color:#fff;}
.btn-facebook {background-color:#3B5998;color:#fff;}
.btn-google-plus {background-color:#d34836;color:#fff;}

.btn-twitter:hover {background-color:#3088FF;color:#62BBFF;}
.btn-facebook:hover {background-color:#2A4998;color:#4C6BBA;}
.btn-google-plus:hover {background-color:#C23836;color:#E45A58;}
